<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
    id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
                Dave The Walker </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/pennine-way-2020/">
                        <i class="fas fa-campground"></i> Pennine way 2020
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Archive">
                        <i class="fas fa-th-large"></i> Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="https://www.instagram.com/davethecoder" target="_blank"
                        data-original-title="Follow us on Instagram" rel="nofollow">
                        <i class="fab fa-instagram"></i> davethecoder
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="/feed.xml" target="_blank"
                        data-original-title="RSS Feed">
                        <i class="fas fa-rss"></i> rss feed
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>